.sign-in {
  width: 900px;
  min-height: 75vh;
  height: max-content;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  display: flex;

  &__img {
    width: 45%;
    display: flex;
    background-size: cover;
    background-color: $white;
    background-image: url(/images/login-modal.png);
  }

  &__content {
    width: 55%;
    padding: 3rem 1.5rem 1.5rem;
    background: $white;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &-title {
      font-size: 36px;
      text-align: center;
      color: rgb(36 36 36 / 1);
      opacity: .85;
      margin-bottom: 1.25rem;
    }
    &-form {
      display: flex;
      gap: 0.75rem;
      &-button {
        color: $black;
        width: 100%;
        font-size: 1.1rem;
        font-weight: 400;
        padding: .625rem 1rem;
        background-color: rgb(245 245 250 / 1);
        border-radius: 9999px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: $transition;
        &:hover {
          opacity: .85;
        }
        &-icon {
          margin-left: 0.4rem;
        }
      }
    }
    &-bottom {
      display: flex;
      align-items: center;
      justify-content: center;
      &-text {
        color: rgb(145 147 151 / 1);
        font-size: 16px;
        margin-right: .5rem;
      }
      &-link {
        font-weight: 500;
        color: $black;
        font-size: 16px;
        text-decoration-line: underline;
        text-decoration-thickness: 1px;
        text-underline-offset: 2px;
        transition: $transition;
        &:hover {
          text-decoration-line: underline;
          text-decoration-thickness: 1px;
          text-underline-offset: 2px;
          opacity: .75;
        }
      }
    }
  }
}