@media #{$tablet} {
  .about {
    &__intro {
      min-height: calc(100vh - 72px);
    }

    &__design {
      &-text {
        font-size: 56px;
      }
    }

    &__together {
      &-wrapper {
        display: flex;
        flex-direction: column;
      }
    }
  }
}

@media #{$mobile} {
  .about {
    &__hero {
      &-bg {
        padding: 4rem 1.5rem;
      }

      &__title {
        font-size: 40px;
      }

      &__subtitle {
        font-size: 16px;
      }
    }

    &__design {
      &-text {
        font-size: 48px;
      }
    }

    &__together {
      &-card__title {
        &-title {
          font-size: 48px;
        }
      }
    }
  }
}