@media #{$tablet} {
  .main {
    &__hero {
      &-featured {
        justify-content: start;
        overflow-x: scroll;
      }

      &-title {
        width: 80%;

        &-text {
          font-size: 40px;
        }
      }

      &-buttons {
        width: 100%;
        flex-direction: column;

        &-link {
          display: flex;
          justify-content: center;
        }
      }
    }

    &__tools {
      &-container {
        display: flex;
        flex-direction: column;
      }

      &-card {
        padding: 2rem;
      }
    }
  }
}

@media #{$mobile} {
  .main {
    &__hero {
      &-title {
        width: 100%;
      }
    }

    &__tools {
      &-container {
        display: flex;
        flex-direction: column;
      }

      &-card {
        padding: 2rem;

        &-last {
          flex-direction: column;

          .main__tools-card-info {
            width: 100%;
          }

          .main__tools-card-nav {
            width: 100%;
          }
        }
      }
    }
  }
}