@media #{$tablet} {
  .select_model {
    &__overlay {
      display: block;
    }

    .model-selector {
      &__fixed {
        position: fixed;
        right: 0;
        left: 0;
        bottom: 0;
        top: auto;
      }

      &__card {
        margin-left: 0;
        width: 100%;
      }
    }
  }
}