//base
@import "./base/index";

//pages
@import "./pages/index";
@import "./pages/profile/index";
@import "./pages/profile/favorites";
@import "./pages/ai/base";

//components
@import "./components/index";

//media
//@use "./media/index" as *;
