.breadcrumbs {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    margin-bottom: 2rem;
    padding-top: 1.5rem;
    position: relative;
    z-index: 30;
    font-size: 14px;
    color: rgb(145 147 151 / 1);
    &__link {
        text-decoration: none;
        color: $black;
        font-size: 16px;
        transition: $transition;
        &:hover {
            opacity: .7;
        }
        &-current {
            opacity: .7;
        }
    }
    &__separator {
        margin-left: 10px;
        margin-right: 10px;
        color: $black;
        opacity: .7;
    }
}

.breadcrumbs-light {
    margin-bottom: 2rem;
    padding-top: 1.5rem;
    font-size: 14px;
    color: rgb(145 147 151);

    .breadcrumbs__link {
        color: $white;
    }

    .breadcrumbs__separator {
        color: $white;
        opacity: .7;
    }
}