.header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  transition: 0.3s ease;
  background-color: $white;
  &--fixed {
    position: fixed;
  }
  &--custom {
    position: fixed;
    background-color: rgba(0, 0, 0, 0);
    .header {
      &__logo {
        color: $white;
      }
      &__menu {
        &-link-primary {
          color: $white;
          &:hover {
            background-color: $yellow;
            color: $black;
          }
        }
      }
      &__profile {
        &-link {
          color: $white;
          &-text {
            &-name {
              color: $white;
            }
          }
        }
      }
    }
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    min-height: 80px;
  }

  &__links {
    display: flex;
    align-items: center;
  }

  &__logo {
    color: $black;
    transition: $transition;
    &:hover {
      opacity: 0.8;
    }
  }

  &__menu {
    margin-left: 25px;
    display: flex;
    align-items: center;
    gap: .5rem;
    &-link-primary {
      display: flex;
      align-items: center;
      color: $black;
      padding: .5rem 1rem;
      text-decoration: none;
      border-radius: 9999px;
      transition: $transition;
      &:hover {
        background-color: $yellow;
        color: $black;
      }
    }
    &-link-secondary {
      display: flex;
      align-items: center;
      background-color: $yellow;
      color: $black;
      fill: $black;
      padding: .5rem 1rem;
      text-decoration: none;
      border-radius: 9999px;
      transition: $transition;
      &:hover {
        background-color: $blue;
        color: $white;
        fill: $white;
      }
    }
    .icon-circle-dots {
      margin-left: .5rem;
    }
  }

  &__profile {
    &-link {
      color: $black;
      display: flex;
      align-items: start;
      font-weight: 500;
      text-decoration: none;
      transition: $transition;
      &:hover {
        opacity: 0.8;
      }
      &-text {
        display: flex;
        flex-direction: column;
        text-align: right;
        &-name {
          color: $black;
        }
        &-email {
          font-size: 14px;
          opacity: .7;
        }
      }
      &-img {
        width: 36px;
        height: 36px;
        border-radius: 100%;
        margin-left: 8px;
        object-fit: cover;
      }
    }
  }
}