.image-card {
  position: relative;
  width: 100%;
  border-radius: 0.375rem;
  overflow: hidden;
  z-index: 0;
  transition: 0.3s;
  margin-bottom: 0.5rem;
  break-inside: avoid;

  &:hover {
    .image-card__image {
      transform: scale(1.1);
    }
    .image-card__buttons {
      opacity: 1;
    }
  }

  &__buttons {
    opacity: 0;
    transition: 0.3s;
    padding: 0.75rem;
    color: #fff;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 30;
    position: absolute;
    top: 0;
    left: 0;

    &-top,
    &-bottom {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 0.5rem;
      width: 100%;
    }

    &-bottom {
      justify-content: flex-end;
    }
  }

  &__blur {
    backdrop-filter: blur(4px);
    color: #fff;
    font-size: 16px;
    padding: 0.375rem 0.75rem;
    background-color: transparent;
    border-radius: 9999px;
    max-width: 80%;
    margin: 0;
  }

  &__button {
    backdrop-filter: blur(4px);
    padding: 0.625rem;
    background-color: rgb(219 219 219 / 21%);;
    border-radius: 9999px;
    display: flex;
    transition: 0.3s;
    cursor: pointer;
    fill: #fff;

    &:hover {
      background-color: #fff;
      fill: rgb(32 32 46);
    }

    &-active {
      background-color: #fff;
      fill: rgb(32 32 46);

      &:hover {
        opacity: .8;
      }
    }

    &-icon {
      width: 1.25rem;
      height: 1.25rem;

      &-download {
        width: 1.4rem;
        height: 1.4rem;
      }
    }
  }

  &__link {
    position: absolute;
    top: 3rem;
    left: 0;
    bottom: 3rem;
    width: 100%;
    z-index: 30;
  }

  &__image {
    transition: 0.3s;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}