.tooltip {
  background-color: rgb(238 240 244);
  border-radius: 0.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: help;
  width: 1rem;
  height: 1rem;
  position: relative;

  &:hover {
    .tooltip-info {
      display: block;
    }
  }

  &-icon {
    width: 0.75rem;
    height: 0.75rem;
  }

  &-info {
    display: none;
    width: 20rem;
    position: absolute;
    bottom: 0;
    left: -1rem;

    &__wrapper {
      position: absolute;
      z-index: 10;
      right: 0;
      left: 0;
      bottom: 0;
    }

    &__triangle {
      background-color: $white;
      border: 1px solid rgb(238 240 244);
      border-right-width: 0;
      border-bottom-width: 0;
      transform: rotate(45deg);
      width: 1rem;
      height: 1rem;
      position: absolute;
      top: 0.5rem;
      left: 1rem;
      z-index: 20;
    }

    &__text {
      box-shadow: 0 1px 3px rgb(0 0 0 / 0.1),
      0 1px 2px -1px rgb(0 0 0 / 0.1);
      color: rgb(145 147 151);
      line-height: 1.5rem;
      font-size: 14px;
      padding: 0.375rem 0.75rem;
      background-color: $white;
      border: 1px solid rgb(238 240 244);
      border-radius: 0.375rem;
      width: 100%;
      position: absolute;
      top: 1rem;
      left: 0;
    }
  }
}