// base
//@import './base/default';

//components
@import "./components/base/header";
@import "./components/base/footer";
@import "./components/base/imageCard";
@import "./components/base/faq";
@import "./components/base/breadCrumbs";
@import "./components/profile/menu";
@import "./components/fields/selectModel";
@import "./components/form/signIn";

//pages
@import "./pages/index";
@import "./pages/about";
@import "./pages/ai/base";
@import "./pages/ai/models/create";
@import "./pages/profile/index";
@import "./pages/profile/favorites";
@import "./pages/profile/jobs";
