// base
//@import './base/default.scss';

//components
@import "./components/base/header";
@import "./components/base/footer";
@import "./components/base/imageCard";
@import "./components/base/faq";
@import "./components/base/breadCrumbs";
@import "./components/profile/menu";

//pages
@import "./pages/ai/base.scss";
@import "./pages/profile/index.scss";
@import "./pages/profile/favorites.scss";
@import "./pages/profile/jobs.scss";
