@use "sass:math";

html {
  //font-size: calc(1vw / 19.2);
}

::selection {
  background-color: $yellow;
  color: #000;
}

body {
  font-family: Nunito, sans-serif;
  line-height: 1.35;
  font-size: 16px;
  color: $primary-color;
  transition: .2s;
}

.main {
  min-height: 100vh;
  margin-top: 1.5rem;
}

.container {
  max-width: 1800px;
  margin: 0 auto;
  width: 100%;
  padding-inline: 5%;
}

.hidden {
  display: none !important;
}

.w-full {
  width: 100% !important;
}

.page-enter-active,
.page-leave-active {
  transition: all 0.4s;
}
.page-enter-from,
.page-leave-to {
  opacity: 0;
  filter: blur(3px);
}
