//@font-face {
//  font-family: 'Mariupol-Medium';
//  src: url('/fonts/mariupol/Mariupol-Medium.eot');
//  src: url('/fonts/mariupol/Mariupol-Medium.eot?#iefix') format('embedded-opentype'),
//      url('/fonts/mariupol/Mariupol-Medium.woff2') format('woff2'),
//      url('/fonts/mariupol/Mariupol-Medium.woff') format('woff'),
//      url('/fonts/mariupol/Mariupol-Medium.ttf') format('truetype');
//  font-weight: 500;
//  font-style: normal;
//  font-display: swap;
//}
//
//@font-face {
//  font-family: 'Mariupol-Regular';
//  src: url('/fonts/mariupol/Mariupol-Regular.eot');
//  src: url('/fonts/mariupol/Mariupol-Regular.eot?#iefix') format('embedded-opentype'),
//      url('/fonts/mariupol/Mariupol-Regular.woff2') format('woff2'),
//      url('/fonts/mariupol/Mariupol-Regular.woff') format('woff'),
//      url('/fonts/mariupol/Mariupol-Regular.ttf') format('truetype');
//  font-weight: 400;
//  font-style: normal;
//  font-display: swap;
//}

