@media #{$tablet} {
  .faq {
    &__list {
      column-count: 1;
    }
  }
}

@media #{$mobile} {
  .faq {
    &__item {
      padding: 14px 16px;

      &-header {
        font-size: 16px;
      }

      &-content {
        font-size: 14px;
        padding-top: 10px;
      }
    }
  }
}