@media #{$tablet} {
  .footer {
    &__container {
      flex-direction: column;
    }

    &__col-info {
      width: 100%;
      margin-bottom: 3rem;
    }

    &__col-nav {
      width: 100%;
    }
    
    &__links {
      text-align: center;
    }
  }
}