@media #{$tablet} {
  .header__container {
    display: none;
  }

  .header {
    &__container-mobile {
      display: flex;
      padding-top: 1rem;
      padding-bottom: 1rem;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      position: relative;
    }

    &__mobile {
      &-buttons {
        display: flex;
        align-items: center;
        gap: 1rem;
      }
    }

    .burger__menu {
      height: 10px;
      width: 38px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-end;
      z-index: 9999;

      &-line {
        width: 100%;
        height: 2px;
        position: relative;
        display: block;
        border-radius: 8px;
        transition: .5s;
        background-color: $black;
      }

      &-line-rotate {
        transform: rotate(45deg) translate(-5px, -1px);

        &:first-of-type {
          transform: rotate(135deg) translate(5px, -1px);
        }
      }
    }

    .mobile {
      &__menu {
        transition: .5s;
        position: fixed;
        left: -100%;
        top: 0;
        z-index: 50;
        height: 100%;
        width: 100%;
        color: $black;

        &-show {
          left: 0;
        }

        &-overlay {
          background: #00000080;
          position: fixed;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
          visibility: hidden;
          opacity: 0;
          z-index: -1;
          transition: .5s;

          &-show {
            opacity: 1;
            visibility: visible;
          }
        }


        &-wrapper {
          width: 330px;
          background: #fff;
          height: 100vh;
          position: relative;
          z-index: 10;
        }

        &-container {
          padding: 2rem 1.5rem;
          height: 100%;
          display: flex;
          flex-direction: column;
        }

        &-content {
          height: 100%;
          position: relative;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
        }

        &-logo {
          margin-bottom: 2rem;
        }

        &-user {
          margin-bottom: 2rem;

          &__link {
            display: flex;
            align-items: center;
            font-weight: 500;
            font-size: 21px;
            color: $black;
            text-decoration: none;
          }

          &__img {
            margin-right: .75rem;
            height: 50px;
            width: 50px;
            border-radius: 100%;
          }
        }

        &-guest {
          margin-bottom: 2rem;
          display: flex;
          flex-direction: column;

          &__links {
            display: flex;
            align-items: center;
            margin-bottom: .125rem;

            &-item {
              color: rgb(32 32 46);
              font-weight: 700;
              font-size: 21px;
              text-decoration: none;
              transition: $transition;

              &:hover {
                opacity: .8;
              }
            }

            &-separator {
              margin-left: .5rem;
              margin-right: .5rem;
              font-size: 18px;
              font-weight: 700;
              color: rgb(32 32 46);
            }
          }

          &__text {
            font-size: 16px;
            font-weight: 500;
            color: rgb(110 116 148);
          }
        }

        &-list {

        }

        &-item {
          font-size: 16px;
          margin-top: .75rem;
          margin-bottom: .75rem;

          &__has-children {

          }
        }

        &-link {
          font-size: 21px;
          text-decoration: none;
          color: $black;
          transition: $transition;
          gap: .5rem;
          display: flex;
          align-items: center;

          &:hover {
            opacity: .8;
          }

          &__icon {
            width: .75rem;
            height: .75rem;
            position: relative;
            top: 1px;
            transform: translate(0, 0) rotate(90deg) skew(0) skewY(0) scaleX(1) scaleY(1);
          }
        }
      }

      &__submenu {
        &-list {
          display: none;
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          background: #fff;
          z-index: 10;
          overflow: auto;

          &-active {
            display: block;
          }
        }

        &-item {
          padding: .5rem;
          margin-bottom: .25rem;
          border-radius: .25rem;
          background-color: #cbcbcb1a;
          font-size: 16px;

          &__back {
            margin-bottom: .5rem;
            display: flex;
            align-items: center;
            font-size: 21px;
            font-weight: 700;

            &-icon {
              margin-right: .5rem;
              height: 1rem;
              width: 1rem;
              --tw-rotate: 180deg;
              transform: translate(0, 0) rotate(180deg) skew(0) skewY(0) scaleX(1) scaleY(1);
            }
          }
        }

        &-link {
          font-size: 16px;
          font-weight: 500;
          display: flex;
          flex-direction: column;
          gap: .25rem;
          white-space: normal;
          text-decoration-line: none;
          color: $black;

          &__desc {
            font-size: 12px;
            opacity: .8;
            margin-bottom: 0;
          }
        }
      }
    }
  }
}

@media #{$mobile} {
  .header {
    .mobile {
      &__menu {
        &-wrapper {
          width: 100%;
        }
      }
    }
  }
}