.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0, 0.5);
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 500;
  &__content {
    overflow: auto;
  }
}
