.main {
  &__main {
    padding-bottom: 6rem;
  }
  .profile {
    &__content {
      display: flex;
      flex-direction: row;
    }
    &__title {
      color: rgb(32 32 46 / 1);
      line-height: 1.3;
      font-size: 52px;
      margin-bottom: 1.5rem;
    }
  }
  .favorites {
    &__wrapper {
      margin: 0 2rem;
      flex: 1 1 0;
    }
    &__list {
      columns: 5;
      gap: 0.5rem;
    }
  }
}