.main {
  &__main {
    padding-bottom: 6rem;
  }
  .profile {
    &__content {
      display: flex;
      flex-direction: row;
    }
    &__title {
      color: rgb(32 32 46 / 1);
      line-height: 1.3;
      font-size: 52px;
      margin-bottom: 1.5rem;
    }
  }
  .favorites {
    &__wrapper {
      margin: 0 2rem;
      flex: 1 1 0;
    }
    &__list {
      columns: 5;
      gap: 0.5rem;
    }
    &__item {
      margin-bottom: 0.5rem;
      break-inside: avoid;
    }
    &__img {
      position: relative;
      width: 100%;
      border-radius: 0.375rem;
      overflow: hidden;
      z-index: 0;
      transition: $transition;
      &:hover {
        .favorites__img-image {
          transform: translate(0, 0) rotate(0) skew(0) skewY(0) scaleX(1.1) scaleY(1.1);
        }
        .favorites__img-buttons {
         opacity: 1;
        }
      }
      &-buttons {
        opacity: 0;
        transition: $transition;
        padding: 0.75rem;
        color: $white;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        z-index: 30;
        position: absolute;
        top: 0;
        left: 0;

        &-top,
        &-bottom {
          display: flex;
          justify-content: space-between;
          align-items: center;
          gap: 0.5rem;
          width: 100%;
        }
        &-bottom {
          justify-content: flex-end;
        }
      }
      &-blur {
        backdrop-filter: blur(4px);
        color: $white;
        font-size: 16px;
        padding: 0.375rem 0.75rem;
        background-color: transparent;
        border-radius: 9999px;
        max-width: 80%;
        margin: 0;
      }
      &-button {
        backdrop-filter: blur(4px);
        padding: 0.625rem;
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 9999px;
        display: flex;
        transition: $transition;
        cursor: pointer;
        fill: $white;
        &:hover {
          background-color: $white;
          fill: rgb(32 32 46);
        }
        &-icon {
          width: 1.25rem;
          height: 1.25rem;
        }
      }
      &-link {
        position: absolute;
        top: 3rem;
        left: 0;
        bottom: 3rem;
        width: 100%;
        z-index: 30;
        transition: $transition;
      }
      &-image {
        transition: $transition;
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
  }
}