.ai {
  &__intro {
    position: relative;
    width: 100%;
    overflow: hidden;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

    &-bg {
      position: fixed;
      display: flex;
      width: 100%;
      height: 100%;
      z-index: -10;
      align-items: stretch;

      &-video {
        width: 100%;
        object-fit: cover;
        object-position: center;
      }
    }

    &-overlay {
      //position: fixed;
      //top: 0;
      //left: 0;
      //width: 100%;
      //height: 100%;
      //background-color: rgba(0, 0, 0, 0.3);
    }

    &-container {
      position: relative;
      z-index: 10;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 8rem 5%;
      color: $white;
      overflow: visible;
    }

    &-content {
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 1 1 0;
      width: 100%;
    }

    &-inner {
      max-width: 1024px;
      width: 100%;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      color: $white;

      .breadcrumbs {
        margin-bottom: 2rem;
        padding-top: 1.5rem;
        font-size: 14px;
        color: rgb(145 147 151);

        &__link {
          color: $white;
        }
      }
    }

    &-title {
      color: $white;
      font-size: 64px;
      font-weight: 600;
      text-transform: uppercase;
      margin-bottom: 1.5rem;
    }
  }

  &__generate {
    padding-top: 3rem;
    padding-bottom: 5rem;
    background-color: $white;

    &-container {
      gap: 3rem;
      display: flex;
      flex-wrap: wrap;
    }

    &-settings {
      background-color: #cbcbcb1a;
      border-radius: .5rem;
      height: fit-content;
    }

    &-form {
      display: flex;
      width: 100%;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 1rem;
      row-gap: 1rem;

      &__input {
        width: 100%;
        border-bottom: 1px solid #eef0f4;
        padding: 1.25rem 1.75rem;
        gap: .75rem;
        display: flex;
        flex-direction: column;

        &-cross {
          gap: 1rem;
          display: flex;
          align-items: center;

          &-icon {
            margin-top: 6%;
            width: 2.5rem;
            height: 2.5rem;
          }
        }

        &-field {
          width: 100%;
          position: relative;
        }
      }

      &__button-wrapper {
        width: calc(50% - 8px);
        flex-basis: 100%;
      }

      &__button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: calc(50% - 8px);
        padding: 0.75rem 1.5rem;
        background-color: rgb(214 255 52);
        border-radius: 9999px;
        color: $black;
        transition: $transition;
        cursor: pointer;
        text-decoration: none;
        gap: 0.625rem;

        &:hover {
          color: rgb(214 255 52);
          background: #5d34ff;
        }
      }
    }
  }
}
