.contacts {
  &__info {
    padding: 3rem 1.5rem 0;
    height: fit-content;
  }

  &__title {
    font-size: 36px;
    text-align: center;
    margin-bottom: 1.75rem;
    color: $black;
    opacity: .85;
  }

  &__email {
    text-align: center;
    margin-bottom: 1rem;
    font-size: 32px;
  }
}