.main {
  &__hero {
    min-height: 100vh;
    display: flex;
    align-items: center;
    &-background {
      align-items: stretch;
      width: 100%;
      height: 100vh;
      display: flex;
      z-index: -10;
      position: fixed;
      top: 0;
      &-video {
        object-position: center;
        object-fit: cover;
        width: 100%;
      }
    }
    &-container {
      padding-top: 80px;
      min-height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }
    &-title {
      width: 60%;
      margin-bottom: 25px;
      &-text {
        font-size: 64px;
        margin-bottom: 1.5rem;
        text-transform: uppercase;
        span {
          color: $yellow;
        }
      }
    }
    &-buttons {
      display: flex;
      gap: 1rem;
      width: 50%;
      &-link {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        border-radius: 9999px;
        padding: 1rem 2.5rem;
        color: $white;
        fill: $white;
        text-transform: uppercase;
        text-decoration: none;
        white-space: nowrap;
        &-arrow-right-icon {
          font-size: 21px;
          transition: $transition;
        }
      }
      &-link-try {
        background: rgb(93, 52, 255);
        transition: $transition;
        &:hover {
          background: $yellow;
          color: $black;
          .main__hero-buttons-link-arrow-right-icon {
            fill: $black;
          }
        }
      }
      &-link-library {
        border: $white solid 2px;
        transition: $transition;
        &:hover {
          background: $white;
          color: $black;
          fill: $black;
        }
      }
    }
    &-featured {
      display: flex;
      justify-content: end;
      &-container {
        width: 65%;
      }
      &-title {
        font-size: 16px;
        text-transform: uppercase;
      }
      &-links {
        display: flex;
        gap: 1rem;
      }
      &-link {
        margin-top: 16px;
        padding: 1rem;
        border: 1px #fff3 solid;
        border-radius: .5rem;
        text-decoration: none;
        color: $white;
        fill: $white;
        min-width: 250px;
        width: 33.33%;
        height: 180px;
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        position: relative;
        overflow: hidden;
        z-index: 10;
        transition: $transition;
        &:hover {
          .main__hero-featured-link-description-text {
            gap: 1.25rem;
          }
          .main__hero-featured-link-img {
            transform: translate(0, 0) rotate(0) skew(0) skewY(0) scaleX(1.1) scaleY(1.1);
          }
        }
        &-gradient {
          --tw-gradient-from: #000;
          --tw-gradient-to: rgb(0 0 0 / 0);
          --tw-gradient-stops: #000, rgb(0 0 0 / 0);
          background-image: linear-gradient(to top, #000 , rgb(0 0 0 / 0));
          width: 100%;
          height: 100%;
          z-index: 10;
          position: absolute;
          top: 0;
          left: 0;
        }
        &-img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          position: absolute;
          top: 0;
          left: 0;
          transition: $transition;
        }
        &-description {
          z-index: 20;
          &-text {
            display: flex;
            gap: 1rem;
            align-items: center;
            transition: $transition;
          }
        }
      }
    }
  }
}