.main {
  &__main {
    padding-bottom: 6rem;
  }
  .profile {
    &__content {
      display: flex;
      flex-direction: column;
    }
    &__title {
      color: rgb(32 32 46 / 1);
      line-height: 1.3;
      font-size: 36px;
      margin-bottom: 1.5rem;
    }
  }
}