.typography {
  overflow: hidden;
  padding-bottom: 6rem;

  &__title {
    margin-bottom: 1.5rem;
    font-size: 56px;
  }

  &__subtitle {
    margin-bottom: 1rem;
    font-size: 32px;
  }

  &__alert {
    margin-bottom: 0;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: -.015em;
    color: $black;
    line-height: 1.3;
  }

  &__text {
    line-height: 1.5;
    margin-bottom: 1.5rem;
    font-size: 16px;
  }

  &__link {
    text-decoration-line: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 2px;
    color: $black;
    transition: $transition;

    &:hover {
      text-decoration-line: underline;
      text-decoration-thickness: 1px;
      text-underline-offset: 2px;
      opacity: .75;
    }
  }

  &__list {
    margin-bottom: .75rem;
  }

  &__item {
    padding-left: .5rem;
    font-size: 16px;
    margin-bottom: .375rem;
  }
}