.main {
  .ai_model {
    &__content {
      gap: 0;
      display: flex;
      flex-direction: row;
      position: relative;
    }

    &__settings {
      background: $white;
      border-radius: .5rem;
    }

    &__form {
      max-width: 20rem;
      width: 100%;
      position: relative;
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }

    &__submit {
      padding: 1rem 1.5rem 1rem 0;
    }

    &__before__button {
      width: calc(50% - 8px);
      flex-basis: 100%;
    }

    &__button {
      padding: .75rem 1.5rem;
      margin-top: 0;
      text-decoration-line: none;
      background-color: $yellow;
      color: $black;
      transition: $transition;
      font-weight: 500;
      border-radius: 9999px;

      &:hover {
        background-color: $blue;
        color: $yellow;
      }
    }

    &__upload {
      padding: 0 1.5rem 1.5rem;
      background-color: $white;
      height: fit-content;
      flex: 1 1 0;
      border-radius: .5rem;

      &-wrapper {

      }
    }
  }
}