
.file-uploader {
  background-color: rgb(245 245 247);
  border: 1px dashed rgb(200 200 205);
  border-radius: 0.375rem;
  user-select: none;
  transition: all 0.3s ease;
  position: relative;
  padding: 1rem 1rem 4rem;

  &--active {
    border-color: #6c5ce7;
    background-color: rgba(108, 92, 231, 0.1);
  }

  &__label {
    cursor: pointer;
    display: block;
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1.5rem;
  }

  &__icon {
    width: 100px;
    height: 100px;

    &-wrapper {
      display: flex;
      flex-direction: column;
    }

    &-animation {
      overflow: hidden;
    }

    &-image {
      width: 100%;
      height: 100%;
    }
  }

  &__text {
    text-align: center;
    margin-top: 0.5rem;
    font-size: 0.95rem;
    color: #333;
  }

  &__input {
    display: none;
  }

  &__previews {
    display: flex;
    flex-wrap: wrap;
    gap: 4rem 0.75rem;
    margin-top: 1rem;
  }

  &__preview {
    position: relative;
    width: 240px;
    height: 240px;
    border-radius: 0.5rem;
    //overflow: hidden;
    border: 1px solid #e0e0e0;
    transition: 0.2s;

    &:hover {
      transform: scale(1.03);
    }
  }

  &__preview-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__remove-btn {
    position: absolute;
    top: 4px;
    right: 4px;
    background: rgba(0, 0, 0, 0.6);
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 50%;
    width: 22px;
    height: 22px;
    line-height: 18px;
    text-align: center;
    cursor: pointer;
    transition: background 0.2s;

    &:hover {
      background: rgba(0, 0, 0, 0.8);
    }
  }
}