.input {
  width: 100%;
  gap: .75rem;
  display: flex;
  flex-direction: column;
  &__label {
    display: flex;
    align-items: center;
    color: $secondary-color;
    font-weight: 500;
    gap: .5rem;
  }
  &__wrapper {
    position: relative;
    width: 100%;
  }
  &__field {
    width: 100%;
    padding: .625rem .875rem;
    background-color: rgb(245 245 247);
    border-radius: .5rem;
    border: 1px solid rgb(245 245 247);
    appearance: none;
    transition: $transition;
    &:hover {
      background-color: rgb(238 240 244);
    }
    &-error {
      background-color: rgb(254 226 226);
      border-color: rgb(245 245 247);
      &:hover {
        background-color: rgb(254 226 226);
        border-color: rgb(245 245 247);
      }
    }
  }
  &__error-text {
    color: $error;
  }
}