.textarea {
  width: 100%;
  gap: 0.75rem;
  display: flex;
  flex-direction: column;

  &__label {
    display: flex;
    align-items: center;
    color: $secondary-color;
    font-weight: 500;
    gap: 0.5rem;
  }

  &__wrapper {
    position: relative;
    width: 100%;
  }

  &__field {
    width: 100%;
    padding: 0.625rem 0.875rem;
    background-color: rgb(245 245 247);
    border-radius: 0.5rem;
    border: 1px solid rgb(245 245 247);
    appearance: none;
    min-height: 6rem;
    resize: none;
    transition: $transition;

    &:hover {
      background-color: rgb(238 240 244);
    }

    &-error {
      background-color: rgb(254 226 226);
      border-color: rgb(245 245 247);

      &:hover {
        background-color: rgb(254 226 226);
      }
    }
  }

  &__error-text {
    color: $error;
  }
}